<!DOCTYPE html>
<html>
	<head>
		<title>William Zhang</title>
        <%= stylesheet_link_tag "main" %>
	</head>

    <body>

		<header>
			<nav class="navbar navbar-dark bg-dark">
				<a class="navbar-brand"	href="<%= profile_index_url %>">WZhang</a>
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a class="nav-link" href="<%= profile_index_url %>"><i class="fas fa-home"></i> Homepage </a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="<%= profile_portfolio_url %>"><i class="fa-solid fa-book-open"></i> Academics </a>
					</li>

					<li class="nav-item">
						<a class="nav-link active" href="<%= profile_about_url %>"><i class="fa-solid fa-book-open"></i> Personal </a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="<%= profile_gallery_url %>"><i class="fa-solid fa-camera"></i> Gallery </a>
					</li>
				</ul>
			</nav>
		</header>

        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card mt-5" id="contactinfo">
                        <div class="card-header">
                            Blathering forever
                        </div>
                        <div class="card-body">
                            Blather nonsense weee
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mt-5" id="contactinfo">
                        <div class="card-header">
                            Spamcube
                        </div>
                        <div class="card-body">
                            SPAMSPAMSPAMSPAMSPAMSPAMSPAMSPAAAAAAAAAM
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        </div>
    </body>

</html>